doctype html
html
  include includes/head.pug
  body
    include includes/nav.pug
    include about.pug
    h1 Welcome to Nexss Programmer
    p Nexss Programmer version: #[b #{ nexss }]
    p xxxxxxxxxx#{nxsUrlPath}
    include includes/foot.pug