
doctype html
html
  include includes/head.pug
  body
    a.nav-link(href='index')
        img(width='100', src='/nexss.png', style='float:left;')
    .w-25.p-3(style='background-color: #eee;')
      include includes/nav.pug
      
      //- h1 Welcome to Nexss Programmer
      //- p Nexss Programmer version: #[b #{ nexss }]
      //- p xxxxxxxxxx#{nxsUrlPath}
      block page
        #default 
          p page content
    include includes/foot.pug