nav.navbar.navbar-default
  .container-fluid
    .navbar-header
    ul.nav     
      li.nav-item
        a.nav-link(href='pliki.html') Pliki
      li.nav-item
        a.nav-link(href='index.html') Mecze
      li.nav-item
        a.nav-link(href='404') 404