nav.navbar.navbar-default
  .container-fluid
    .navbar-header
    ul.nav     
      li.nav-item
        a.nav-link(href='/files.hnxs') Files
      li.nav-item
        a.nav-link(href='/markdown.hnxs') Markdown
      li.nav-item
        a.nav-link(href='/404') 404